html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, a {
    font-family: arial;
}

h1, h2 {
    margin: 15px;
    margin-left: 25px;
}
a {
    margin-left: 90%;
}

.header {
    width: 100%;
    height: 15%;
}

.tela {
    width: 100%;
    height: 90%;
    background-image: url("wallpaper-pc1-scaled.jpg");
}

.hd {
    width: 100%;
    height: 5%;
    background-color: rgb(161, 150, 150);
    opacity: 0.6;
}

#topo {
    display: flex;
    height: 100%;
    margin-left: 15px;
}

#topo>img {
    width: 27px;
    height: 27px;
}

#topo>h4 {
    color: #fff;
    font-family: arial;
    margin-left: 15px;
    font-size: 19px;
    margin-top: 4px;
}

#topo>d {
    color: #fff;
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 5px;
}

#data {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-family: arial;
    margin-top: -22px;
    margin-right: 15px;
}

.footer {
    width: 60%;
    height: 10%;
    margin-top: 37%;
    margin-left: auto;
    margin-right: auto;
    position: absolute center;
    border-radius: 25px 25px 25px 25px;
    background-color: #fff;
    opacity: 0.6;
    display: flex;
    justify-content: center;
}

.footer>img {
    width: 48px;
    height: 48px;
    margin-top: 1px;
    align-self: center;
    padding: 1px;
    margin-left: 30px;
    opacity:40;
}