@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

ul{
    list-style: none;
}

ul>li{
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.model{
    visibility: hidden;
    display: none;
}

.list{
    width: 100vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}