html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffe8d6;
}

h1 {
    color: #99582a;
    font-family: georgia;
    text-align: center;
    text-shadow: 0.1em 0em 0.1em black;
}

.cadastro {
    border: 2px solid #774936;
    border-radius: 20px 20px 20px 20px;
    width: 25%;
    height: 50%;
    text-align: center;
    margin-left: 100px;
    font-family: arial;
    margin-top: 50px;
    background: #e6b8a2;
    color: #432818;
    box-shadow: 0.1em 0.2em 0.3em black;
}

input {
    border: 2px solid #774936;
    border-radius: 5px 5px 5px 5px;
    width: 60%;
    height: 17px;
    box-shadow: 0.1em 0.2em 0.3em;
}

button {
    margin-top: 40px;
    border: 2px solid #774936;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0.1em 0.2em 0.3em black;
    height: 25px;
    background: #b07d62;
    color: #fff;
    cursor: pointer;
}

button:hover {
    color: #000;
    background: #fff;
    animation: 1s;
    transition: 0.3s;
}


.tabela {
    border: 2px solid #774936;
    text-align: center;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
    font-family: arial;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0.1em 0.2em 0.3em black;
}

#deletar {
    width: 17%;
    margin-left: 93px;
}

#buscar {
    width: 25%;
    margin-left: 93px;
    margin-top: -10px;
}

.search {
    margin-left: 500px;
    margin-top: -400px;
}

th {
    background: #b07d62;
    color: #fff;
}

tbody {
    background: #fff1e6;
}