body {
	align-items: center;
	text-align: center;
	font-family: georgia;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #f1faee;
}

table {
	border: 1px solid #1d3557;
	border-radius: 10px 10px 10px 10px;
	margin-top: 50px; 
	box-shadow: 0.1em 0.2em 0.3em black;
}

th {
	background: #a8dadc;
	padding: 6px 23px;
	font-style: bold;
	font-family: arial;
}

td {
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
}

b {
	margin-left: 15px;
}

a>button {
	cursor: pointer;
	margin-top: 10px;
	background: #1d3557;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	font-style: bold;
	box-shadow: 0.1em 0.1em 0.1em black;
	height: 25px;
}

a>button:hover {
	transition: 0.2s;
	animation: 1s;
	color: #000;
	background: #f1faee;
	font-style: bold;
}

.btns {
	display: flex;
}

a>#excluir {
	margin-left: 10px;
}

a>#buscar {
	margin-left: 10px;
}