@import url('../global/style.css');

.album{
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
}

.album > #title{
    font-weight: bold;
}

.model{
    visibility: hidden;
    display: none;
}